@using KISD.Areas.Admin.Models;
@using MvcContrib.UI.Grid;
@model PagedViewModel<StaffModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var SortColumn = Request.QueryString["Column"] != null ? Request.QueryString["Column"].ToString() : "StaffCreateDate";
    var SortDirection = Request.QueryString["Direction"] != null ? Request.QueryString["Direction"].ToString() : "Descending";
    var Pagesize = Request.QueryString["pagesize"] != null ? Request.QueryString["pagesize"].ToString() : Common._pageSize.ToString();
    var PagerID = Request.QueryString["page"] != null ? Request.QueryString["page"].ToString() : Common._currentPage.ToString();
    var did = Request.QueryString["did"] != null ? Request.QueryString["did"].ToString() : EncryptDecrypt.Encrypt("0");
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") +
           (HttpContext.Current.Request.Url.DnsSafeHost) +
           (HttpContext.Current.Request.IsLocal ?
           (":" + HttpContext.Current.Request.Url.Port.ToString()) : "") +
           "/Admin/Staff/StaffListing?did=" + did + "&page=1&Column=" + SortColumn + "&Direction=" + SortDirection + "&pagesize=";
    AppPath = Common.ReturnValidPath(AppPath);
    var initialPath = (Request.IsSecureConnection ? "https://" : "http://") +
                      (HttpContext.Current.Request.Url.DnsSafeHost) +
                      (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) :
                      (HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : ""));
}

<div class="breadcrumb">
    <!-- Breadcrumb -->
    <ul>
        <li>
            <i class="icon-th"></i>
            <a id="ankdahboard" href='@Url.Action("Index", "Home")'>Dashboard</a>
        </li>
        <li>
            <a id="ankbacktoMasterListing" href='@Url.Action("DepartmentListing", "Department", new
                                                    {
                                                        pagesize = Request.QueryString["mpagesize"] ?? "10",
                                                        page = Request.QueryString["mpage"] ?? "1",
                                                        Column = Request.QueryString["mColumn"] ?? "DepartmentCreateDate",
                                                        Direction = Request.QueryString["mDirection"] ?? "Descending"
                                                    })'>
                Department Listing
            </a>
        </li>
        <li>
            Department Staff Listing
        </li>

    </ul>
</div>

<div class="wrapper">
    <!-- Wrapper -->
    <div class="widget">
        <!-- widget -->
        <div class="widget-header">
            <!-- widget-header -->
            <h4><i class="icon-reorder"></i>Department Staff Listing </h4>
            <div class="btn-group">
                <a id="ankback" href='@Url.Action("DepartmentListing", "Department", new
                                     {
                                         pagesize = Request.QueryString["mpagesize"] ?? "10",
                                         page = Request.QueryString["mpage"] ?? "1",
                                         Column = Request.QueryString["mColumn"] ?? "DepartmentCreateDate",
                                         Direction = Request.QueryString["mDirection"] ?? "Descending"
                                     })'>
                    <i class="icon-arrow-left"></i>Back
                </a>
            </div>
        </div>
        @Html.Partial("StaffPartial", Model)
    </div>
</div>

@*Div for blocking the user untill the page is not fully loaded.*@
<div id="div" style="position: fixed; bottom: 0; height: 100%; width: 100%; left: 0; right: 0; top: 0; opacity: 0.5; background-color: #000; color: #fff; z-index: 9999;">
</div>
<script src="~/Scripts/js/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#div").fadeOut()
    });

    $("#ankDepartments").addClass('select');
    $('#ankDepartmentsListing').addClass('select');
</script>
