@using System.Web.Security;

@if (Request.IsAuthenticated)
{
    <text>
    <div class="dropdown-user" onClick="return true" >
        <ul>
            <li>
                <i class="icon-male"></i>
                <span class="username">Welcome @Html.Label(User.Identity.Name)</span>
                <i class="icon-caret-down"></i>
                <ul>
                    <li>
                        <a  id = "ankChangePassword" href='@Url.Action("ChangePassword", "Account")'>
                            <i class="icon-tasks"></i>
                            Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a  id = "anklogout" href='@Url.Action("LogOff", "Account")'>
                            <i class="icon-key"></i>
                            Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </text>
}
else
{
    <text>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Get, new { id = "logoutForm1" }))
    {

    }
    </text>
    
    <script type="text/javascript">
        $("#logoutForm1").submit();
    </script>
}
